@font-face {
  font-family: 'playfair';
  src: url('./playfair/playfairdisplaysc-bolditalic-webfont.woff2') format('woff2'),
  url('./playfair/playfairdisplaysc-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grand_hotelregular';
  src: url('./grandhotel/grandhotel-regular-webfont.woff2') format('woff2'),
  url('./grandhotel/grandhotel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fulbo';
  src: url('./fulbo/fulbo-premier-webfont.woff2') format('woff2'),
  url('./fulbo/fulbo-premier-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}